{{>header}}
<p> Bienvenido </p>
<form id="rendered-form" action="/registrarUsuario?acc={{#ifCond id '!=' ''}}actualizar{{else}}crear{{/ifCond}}&save=1" method="post" enctype="multipart/form-data">
    <div class="rendered-form">
        <div class="fb-text form-group field-id">
            <label for="id" class="fb-text-label">Identificacion<span class="fb-required">*</span></label>
            <input type="number" class="form-control" name="id" value="{{id}}" {{#ifCond id '!=' ''}} readonly="readonly" {{/ifCond}} id="id" required="required" aria-required="true">
        </div>
        <div class="fb-text form-group field-nombre">
            <label for="nombre" class="fb-text-label">Nombre<span class="fb-required">*</span></label>
            <input type="text" class="form-control" name="nombre" value="{{nombre}}" id="nombre" required="required" aria-required="true">
        </div>
        <div class="fb-text form-group field-mail">
            <label for="correo" class="fb-text-label">Correo Electronico<span class="fb-required">*</span></label>
            <input type="email" class="form-control" name="correo" value="{{correo}}" id="correo" required="required" aria-required="true">
        </div>
        <div class="fb-text form-group field-telefono">
            <label for="telefono" class="fb-text-label">Telefono<span class="fb-required">*</span></label>
            <input type="number" class="form-control" name="telefono" value="{{telefono}}" id="telefono" required="required" aria-required="true">
        </div>
        <div class="fb-text form-group field-tipo">
            <label for="tipo">Tipo</label>
            <select class="form-control" value="{{tipo}}" id="tipo" name="tipo">
                <option {{#ifCond tipo '==' 'aspirante'}} selected {{/ifCond}} value="aspirante">Aspirante</option>
                <option {{#ifCond tipo '==' 'docente'}} selected {{/ifCond}} value="docente">Docente</option>
                <option {{#ifCond tipo '==' 'Coordinador'}} selected {{/ifCond}} value="Coordinador">Coordinador</option>
            </select>
        </div>
        <div>
                <label> Foto de perfil </label>
                <input type="file" class="form-control" name="avatar" accept="image/" required><br>     
        </div>
        <div class="fb-button form-group field-enviar">
            <button type="submit" class="btn-primary btn" name="enviar" style="primary" id="enviar">Enviar</button>
        </div>
    </div>
</form>
{{{listar}}}
{{>footer}}